fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
python-dotenv
pydantic-settings
python-multipart

google-generativeai
google-genai
agno
mcp

yfinance
pandas
numpy
ta

duckduckgo-search
tavily-python
requests
beautifulsoup4

faiss-cpu
langchain
langchain-text-splitters
sentence-transformers
PyPDF2

psycopg2-binary

httpx
aiofiles